<%- include("header") -%>

    <h1 id="heading">About Us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur maxime tenetur perferendis veniam non cum
        accusantium accusamus, ipsa veritatis eius aliquam, quis nemo sed aperiam molestiae magnam modi numquam
        reiciendis, saepe odit? Laboriosam!
    </p>

    <%- include("footer") -%>